<div class="container">
    <h2>Shopping Cart</h2>
    <div>
        <table class="table" *ngIf="cart">
            <thead>
                <tr>
                    <th style="text-align: left">Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Sub total</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart?.items; let i = index">
                    <td scope="row"> {{item.name}}</td>
                    <td class="edit">{{item.quantity}} </td>
                    <td>{{item.price}}</td>
                    <td>{{item.price * item.quantity}}</td>
                    <td style="cursor: pointer;" (click)="onRemoveItem(i)">X</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="cart?.total > 0">
                <div class="total">Total: ${{cart?.total}}</div>
            </div>
    </div>
</div>
