table {
  border-collapse: collapse;
}

table,
th,
td {
  border-bottom: 1px solid #888888;
}

th,
td {
  padding: 15px;
  text-align: center;
  @media screen and (max-width: 380px) {
    padding: 5px;
  }
}

  .total {
    text-align: right;
    padding-top: 13px;
  }

  .edit {
    &:hover {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
