<div class="container">
    <div class="products-container">
       <h2>Products</h2>
       <div class="pt-5 pb-5">
          <label for="name">Name:</label>
          <select (change)="onProductSelected($event.target.value)">
             <ng-container *ngFor="let item of productsArray;let i = index">
                <option value="{{item.id}}">{{item?.name}}</option>
             </ng-container>
          </select>
       </div>
       <div class="pt-5 pb-5">
          <label for="quantity">Qty:</label>
          <input type="number" min="0" placeholder="quantity" [(ngModel)]="quantity">
       </div>
       <div class="pt-5 pb-5">
          <label for="price">Price:</label>
          <span>${{selectedProduct?.price}}</span>
       </div>
    </div>
    <div class="pt-5 pb-5">
       <button (click)="onAddItem()">Add</button>
       <button>Cancel</button>
    </div>
 </div>
