/* You can add global styles to this file, and also import other style files */
.container{
    border: 1px solid #888888;
    padding: 20px;
    border-radius: 5px;
    @media screen  and (max-width: 380px)  {
        min-width: 360px;
        text-align: center
    }
}

.pt-5{
    padding-top: 5px;
}

.pb-5{
    padding-bottom: 5px;
}